@use "variables" as *;
.btn {
  padding: $border-radius 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.3s;
  &.primary {
    background-color: $primary-color;
    color: #fff;
  }
  &.secondary {
    background-color: $secondary-color;
    color: #fff;
  }
  &.success {
    background-color: $success-color;
    color: #fff;
  }
  &.disabled {
    background-color: $disabled-color;
    color: #fff;
  }
  &:hover {
    opacity: 0.8;
  }
}
