@use "variables" as *;
.card {
  max-width: 400px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 16px;
  background: white;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #ddd;
}
