@use "variables" as *;
@use "sass:color";
.btn {
  padding: 10px 15px;
  border-radius: 6px;
  font-family: $font-family;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.2s;

  &--primary {
    background: $primary-color;
    color: white;

    &:hover {
      background: color.adjust($primary-color, $lightness: -10%);
      //    background: color.adjust($main-color, $lightness: -20%);
    }
  }

  &--secondary {
    background: $secondary-color;
    color: white;

    &:hover {
      background: color.adjust($secondary-color, $lightness: -10%);
    }
  }

  &--danger {
    background: $danger-color;
    color: white;

    &:hover {
      background: color.adjust($danger-color, $lightness: -10%);
    }
  }
}
