// 라이트모드 색상
$bg: #eef5ff;
$text: #222;
$box: #ffffff;
$button-bg: #0a66c2;
$button-text: #ffffff;

// 다크모드 색상
$dark-bg: #121212;
$dark-text: #f1f1f1;
$dark-box: #1e1e1e;
$dark-button-bg: #959595;
$dark-button-text: #f1f1f1;
