@use "./variables" as *;
@use "./theme" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000;
}
#app {
  max-width: 1280px;
  margin: auto;
}
