@use "./variables" as *;
.card {
  border: 2px solid $card-border;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  background: $card-bg;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

  h2 {
    color: $main-color;
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
    margin: 5px 0;
  }
}
